<h2>
  Attributes Directives
</h2>
<h3>ngClass / ngStyle</h3>
<div [ngClass]="{ border: true, background: true}">

</div>
<div [class.background]="true">

</div>
<div [ngStyle]="{'background-color': 'red'}">

</div>
<h2>Custom Attribute Directive</h2>
<div dirHighlight [highlightColor]="'blue'" [defaultColor]="'red'">
    Some Text
</div>
<h2>Structural Directives</h2>
<h3>*ngIf</h3>
<div class="" *ngIf="switch">
    Condition Text
</div>
<button type="button" name="button" (click)="onSwitch()">Switch</button>
<h2>*ngFor</h2>
<ul>
    <li *ngFor="let item of items; let i = index">{{item}} - (Index: {{i}})</li>
</ul>
<h2>ngSwitch</h2>
<div [ngSwitch]="switchValue">
  <div *ngSwitchCase="10">10</div>
  <div *ngSwitchCase="100">100</div>
  <div *ngSwitchDefault>100</div>
</div>
